﻿
<div class="container-fluid mt-2" ng-show="!isCartEmpty">

    <div class="panel panel-default htfull">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title">Your Shopping Cart</h3>
            </div>
            <div class="col-md-12 cart-list">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="3">Weekly</th>
                            <th colspan="3">Monthly</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th><span>Model# & Description</span></th>
                            <th><span>Term</span></th>
                            <th><span>Rate</span></th>
                            <th><span>Term x Rate</span></th>
                            <th><span>Term</span></th>
                            <th><span>Rate</span></th>
                            <th><span>Term x Rate</span></th>
                            <th><span>Cash Price</span></th>
                            <th><span>Quantity</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="info in cartItem">
                            <td data-label="Model# & Description">{{info.modelNumber}} <br />{{info.description}}</td>
                            <td data-label="Weekly"></td>
                            <td data-label="Term">{{info.term}}</td>
                            <td data-label="Rate">{{info.weeklyRate | currency:"$":2}}</td>
                            <td data-label="Term x Rate">{{info.weeklyRate * info.term | currency:"$":2}}</td>
                            <td data-label="Monthly"></td>
                            <td data-label="Term">{{info.termMonthly}}</td>
                            <td data-label="Rate">{{info.monthlyRate | currency:"$":2}}</td>
                            <td data-label="Term x Rate">{{info.termMonthly * info.monthlyRate | currency:"$":2}}</td>
                            <td data-label="Price">{{info.price | currency:"$":2}}</td>
                            <!--<td data-label="Quantity">-->
                                <!--<select class="qty-list" ng-init="qnty.selected_quantity=quantityList[info.quantity-1]" data-ng-model="qnty.selected_quantity" ng-options="qnty.quantity for qnty in quantityList track by qnty.quantity" ng-change="change_quantity(qnty.selected_quantity,$index);">-->

                                <!--</select>-->
                            <!--</td>-->
                            <td data-label="Delete"><a type="button" ng-click="itemRemove(info.id);"><i class="fa fa-close"></i></a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-12">
                <button class="btn btn-primary pull-left" ng-disabled="isDisabled" ui-sref="payDeposit">Pay Deposit</button>
                <button class="btn btn-warning pull-right" ng-click="continueShopping();">Continue Shopping  <i class="fa fa-angle-right"> </i></button>
            </div>
        </div>
    </div>

</div>

<!--    When cartEmpty -->
<div class="container-fluid mt-2" ng-show="isCartEmpty">
    <div class="row">
        <div class="col col-sm-12">
            <div class="message-cart">
                <div class="icon">
                    <i class="fa fa-opencart cart" aria-hidden="true"><label class="cart-lebel">0</label></i>
                </div>
                <div class="msg-text">
                    <h2 class="title">Your Cart is Empty</h2>
                    <p>Please add some of our many wonderful items to it!</p>

                    <button class="btn btn-primary" ng-click="goback()"> OK </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    cartEmpty end-->


<div class="modal fade success-modal-message del-popup-sec" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="del-inner-text">Are you sure you want to delete?</div>      
                         
            </div>
            <div class="modal-footer">
                <input type="button" id="AddPay" class="btn btn-danger" ng-click="deleteItem();" data-dismiss="modal" value="Delete">
                <input type="button" class="btn btn-default" value="Cancel" data-dismiss="modal">
            </div>
       
        </div>
    </div>
</div>
