﻿
/* menu start*/


body {
  margin: 0;
  padding: 0; 
}
.blue-strip{
	background: var(--main-bg-color);
	display:inline-block;	
	position:relative;
}
.menubar-bg {
    background: var(--main-bg-color);
    float: left;
    height: 60px;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
}
.disabled
{
}
.home {position:fixed; right:15px; top:19px; z-index:999999; width:auto;}
.home a {float: right;}
.home a img {opacity:0.7; text-decoration:none;}
.home a img:hover {opacity:1;}
.sidebar{
	position:fixed;
	left:-200px;
	right:0px;
	width:200px;
	background-color: var(--main-bg-color);
	transition: all 0.5s ease-in-out;
	height:100%;
    z-index: 999999;
    top:0;
}
.sidebar.open{
	left:0;
    box-shadow: 10px 0 200px #000;
}
#nav-icon{
   width: 45px;
   height: 60px;
  position: absolute;
  padding: 0px;
  cursor: pointer;
 background-color: var(--main-bg-color);
  right:-45px;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 4px;
  width: 32px;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 17px;
}

#nav-icon span:nth-child(2) {
  top: 27px;
}

#nav-icon span:nth-child(3) {
  top: 37px;
}

.sidebar.open #nav-icon span:nth-child(1) {
  top: 27px;
}
.sidebar.open #nav-icon span:nth-child(2) {
  width:0px;
  left:50%;
}
.sidebar.open #nav-icon span:nth-child(3) {
  top: 27px;
}
.sidebar.open #nav-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sidebar.open #nav-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.btn-info,
.btn-primary{
    background-color: var(--main-bg-color);
    border:0px;
}
.menu{
	margin:0px;
	padding:0px;
	list-style-type:none;	
	box-sizing:border-box;
}
.menu li{
	margin:0px 10px;
	padding:0;
	border-bottom:solid 1px #fff;
}
.menu li:last-child{
 	border:none;
 }


.menu li a{
	color:#fff;
	text-decoration:none;
	font-size:14px;
	font-family:arial;
	display:block;
	padding:10px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}
.menu li a:hover{
	color:#000;
	padding-left:10px;
}
.menu li a .fa{
	margin-right:10px;
}
.search-mob {
    position: relative;
    top: 60px;
}
.del-popup-sec .modal-dialog {
    width: 400px;
    margin: 30px auto;
    text-align: center;
}

.del-popup-sec .modal-footer {text-align:center;}
 .del-popup-sec .modal-footer .btn+.btn { margin-top: 0;padding:6px 20px;}
 .del-popup-sec input.btn.btn-danger {padding:6px 20px;}
 .del-popup-sec .modal-header {padding: 8px 15px 5px;margin-bottom: 12px;}
 .del-popup-sec .modal-footer{border:none;}
 .del-popup-sec .modal-body {padding: 12px 0px 20px;}

 .del-inner-text {
     font-size: 16px;
     color: #333;
     font-weight: 500;
 }



i.fa-shopping-cart {
    font-size: 20px;
    vertical-align: middle;
}




/*menu end*/