﻿
<div id="main_content" class="container-fluid mt-2">

    <h4 class="paysuccess">Your Payment has been successfully processed.</h4>

	<div class="panel panel-default htfull">
    	<div class="row">
        	<div class="col-md-5">
            	<h4 class="title custinfo">Customer Information</h4>
        		<div class="well">
                    <p>{{phoneNumber}}</p>
                    <p><strong>{{Name}}</strong></p>
					<p>{{address}}</p>
					<p>{{email}}</p>
                </div>    	
            </div>
            
            <div class="col-md-5">
            	<h4 class="title payinfo">Payment Information</h4>
        		<div class="well">
                    <p>Approval Code: <strong>{{approvalCode}}</strong> </p>
                    <p>Amount Paid: <strong>{{paidAmount}}</strong></p>
					<p>Payment Receipt Number : <strong>{{receiptNumber}}</strong></p>
					 <!--<p><small>customercare@xyz.com if any Query</small></p>-->
                </div> 
            </div>
        </div>
        
     <hr/>

        	<div class="row">
                <div class="col-md-12">
                    <h3 class="title payDepost">Pay Deposit on these items</h3>
                </div>
                <div class="col-md-12 cart-list">            
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="3">Weekly</th>
                                <th colspan="3">Monthly</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th><span>Model# & Description</span></th>
                                <th><span>Term</span></th>
                                <th><span>Rate</span></th>
                                <th><span>Term x Rate</span></th>
                                <th><span>Term</span></th>
                                <th><span>Rate</span></th>
                                <th><span>Term x Rate</span></th>
                                <th><span>Cash Price</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="info in cart">
                                <td data-label="Model# & Description">{{info.modelNumber}} <br />{{info.description}}</td>
                                <td data-label="Weekly"></td>
                                <td data-label="Term">{{info.term}}</td>
                                <td data-label="Rate">{{info.weeklyRate | currency:"$":2}}</td>
                                <td data-label="Term x Rate">{{info.weeklyRate * info.term | currency:"$":2}}</td>
                                <td data-label="Monthly"></td>
                                <td data-label="Term">{{info.termMonthly}}</td>
                                <td data-label="Rate">{{info.monthlyRate | currency:"$":2}}</td>
                                <td data-label="Term x Rate">{{info.termMonthly * info.monthlyRate | currency:"$":2}}</td>
                                <td data-label="Cash Price">{{(info.price * info.quantity) | currency:"$":2}}</td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                    
                </div>
            </div>
            
            <div class="row mt-3">
				<div class="col-md-12">
                    <h3 class="title thnksfor">Thank you for your business!!</h3>
                </div>
            </div>
            
			<div class="row mt-2">
				<div class="col-sm-12">
                    <button ng-click="start();" class="btn btn-warning pull-right">Search for more items</button>
                    <!--<button ng-click="printDirective('main_content')" class="btn btn-primary pull-left"> Print Reciept</button>-->
				</div>
			</div>
	       
    </div>

	
</div>

