
    <!--Strat Main Container-->
    <div id="body-wrapper">
    <header class="fixed-head">
        <!--Start Top Header-->
        <nav class="navbar navbar-default nav-custom">
            <div class="container menu-box">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <!-- <div class="main-logo"></div>-->
                </div>
              
            </div><!-- /.container-fluid -->
        </nav>

    </header>
    <!--End Top Header-->
    <!--Start content-->
    <div class="main-container top_M">
        <div class="content-wrapper">
            <div class="container page-inner">
                <h4>Your Payment has been successfully processed.</h4>

                <!--123 Street Address The City, MS 39301-->
                <div class="row">
                    <div class=" col-sm-6 payment-form">
                        <h3>Customer Information</h3>
                        <div class="info-box heigh992">
                            <p><strong>Customer No:</strong> {{customerID}}</p>
                            <p><strong>Name:</strong> {{Name}}</p>
                            <p><strong>Address:</strong> {{address}}</p>

                        </div>
                    </div>

                    <div class="col-sm-6 payment-form">
                        <h3>Payment Information</h3>
                        <div class="info-box heigh992">
                            <p><strong>Approval Code: </strong>{{approvalCode}}</p>
                            <p><strong>Amount Paid: </strong>{{paidAmount}}</p>
                            <p><strong>Payment Receipt Number: </strong>{{receiptNumber}}</p>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="table-responsive grid_wrapper">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-hover grid-custom right_align_3 tablelayout" id="tblProducts">
                        <thead>
                            <tr>
                                <th width="20%">Amount Due</th>
                                <th width="20%">Description</th>
                                <th width="20%">Account Type</th>
                                <th width="20%">Account Number</th>
                                <th width="20%">Next Due Date</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="payments in payment">
                                <td title="Amount Due">{{payments.amountOfPayment | currency}}</td>
                                <td title="Description">{{payments.itemDescription}}</td>
                                <td title="Account Type">{{payments.accountType}} &nbsp;</td>
                                <td title="Account Numbers">{{payments.accountID}} &nbsp;</td>
                                <td title="Next Due Date">{{localDateTime(payments.nextDueDate)| date:'MM/dd/yyyy'}} &nbsp;</td>
                            </tr>

                            <tr>
                                <td><span class="pull-left"><strong>Total</strong></span>  <span class="pull-right"><strong>{{total}}</strong></span></td>
                                <td colspan="4"></td>
                            </tr>
                        </tbody>
                    </table>


                </div>

                <div class="payment-form">
                    <h3>Thank you for your business!!</h3>
                </div>

                 <!--In future may be require 19-09-2018 -->

                <!--<div class="row">-->
                   <!--&lt;!&ndash; <div class="col-xs-6 width_F480 top_M8"><a href="#/login">Return to Login</a></div>&ndash;&gt;-->
                    <!--<div class="col-xs-6 width_F480 Des_align_right"><a href="#/printOut" class="btn btn-success">View Printable Form</a></div>-->
                <!--</div>-->
                

            </div>

        </div>
    </div>
        <!--ng-click="redirect('Payments')"-->
    <div class="clear"></div>
    <div class="footer"><p>© Copyright 2016  |   <a href="#/ReportIssue"> Report Issue1 </a></p></div>

</div>
  
