
<div class="navbar-bg"></div>
<div>
    <div class="menubar-bg"></div>
    <div class="home"><a href="index.html"><img src="assets/img/home_icon.png"/></a></div>

    <div class="sidebar">
        <div id="nav-icon" ng-click="start();">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu">
            <li ng-show = "IsShopShow" class="ShopDisabled"><a href="searchApp/index.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop</a></li>
            <li><a href="#" ng-click="redirect('Payments')"><i class="fa fa-credit-card" aria-hidden="true"></i>Payments</a></li>
            <li ng-disabled="condition"><a href="" ng-click="clickToChat()"><i class="fa fa-envelope" aria-hidden="true"></i>Messages</a></li>
            <li><a href="#" ng-click="redirect('Settings')"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
            <li><a href="#privacyPolicy" ><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>Privacy Policy</a></li>
            <li><a href="" ng-click="about();"><i class="fa fa-cog" aria-hidden="true"></i>About</a></li>
        </ul>
    </div>

    <div class="login-logo">
        <div class="main-logo"></div>
    </div>
    <div class="container">
        <div class="col-md-offset-3 col-md-6 col-sm-6 col-lg-6 col-xs-12 mess-home-main-sec">

            <div class="mes-text-main version_page">
              <!--  <p>You Must First Select Your Store From Settings</p> -->
                <p class="text-center">v1.28</p>
                <p  class="text-center">2018 - 2019</p>
            </div>
        </div>
    </div>
</div>

<div class="footer-privacy" id="privacyDiv" ng-if="privacyPolicyEnable">
    <center><p>By using this app you agree to our <a href="#privacyPolicy"> <u>Privacy Policy !</u>  &nbsp;&nbsp; </a><span class="fa fa-times" ng-click="removePrivacy()"></span> </p> </center>
</div>
<!--</div>-->
