<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head id="headSection" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/chatCss.css" rel="stylesheet" />
    <!--<link href="assets/css/aboutCSS.css" rel="stylesheet" />-->
    <style>
        :root {
            --main-bg-color: #999999;
        }
    </style>
</head>
<body id="mainBody" style="overflow: inherit;">

<div>
    <div>
        <div  ng-controller="mainCtrl">


            <!--<div ng-if="!Loaded" class="text-center ajax-loader-custom">-->
                <!--<img src="assets/img/ajax-loader1.gif" />-->
            <!--</div>-->


            <div>
                <div ng-view="">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="app/js/angular.js"></script>
<script src="app/js/angular-route.js"></script>
<script src="cordova.js"></script>
<script src="app/js/angular-cookies.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="app/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="app/js/SHA256.js"></script>
<script src="app/js/utf8.js"></script>
<script src="app/js/Base64.js"></script>
<script src="app/js/payeezy_v3.2.js"></script>
<script src="https://pubsub-test.idealss.net/faye/client.js"></script>
<script src="app/service/sharedService.js"></script>
<script src="app/app.js"></script>
<script src="app/service/deviceReadyService.js"></script>
<script src="app/controller/mainCtrl.js"></script>
<script src="app/controller/hamburgurMenuCtrl.js"></script>
<script src="app/controller/chatMediumCtrl.js"></script>
<script src="app/controller/errorMsgCtrl.js"></script>
<script src="app/controller/aboutCtrl.js"></script>
<script src="app/controller/privacyPolicyCtrl.js"></script>

</body>

</html>

